.gallery {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  object-fit: cover;
  display: flex;
  width: 300px;
  height: 200px;
}


@media screen and (max-width: 300px) {
  .gallery img {
    width: 250px;
  }
}
